/****** forms ********/

/* TODO: additional helper classes
    Suggestions:
    - add red link class (here or in typography)
    - add grey-bg class
    - add image display block class (or change default styles)
*/

// hides printed logo on web article pages
.printed-branding {
    display: none;
}

// show and hide on small screens

.hide-small {
    display: none;
}

.show-small {
    display: block;
}

// show and hide on medium screens
@media screen and (min-width: $small-breakpoint) {
    .hide-medium {
        display: none;
    }
    .show-medium {
        display: block;
    }
}

// show and hide on large screens
@media screen and (min-width: $medium-breakpoint) {
    .hide-large {
        display: none;
    }
    .show-large {
        display: block;
    }
    .show-large-inline {
        display: inline;
    }
}

// clear fix
.clear-fix {
    clear: both;
}

// ===== Foundation override ====
@media screen and (min-width: $medium-breakpoint) {
    .large-uncentered.columns {
        float: left;
    }
}

// hides text (labels) for screen readers to improve accessibility
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.screen-reader-text-visible {
    &.search {
        display: none;
    }
}

// section with dark background
.dark-bg {
    color: #fff;
    p, li, blockquote, h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}

// off site link, used on jobs page and WWAR
.off-site-link {
    margin-left: 0.5rem;
    max-width: 12px;
}

