/****** global variables ********/

// colors
$dive-black: #101316; //base black, text color
$dive-grey-1: lighten($dive-black, 89%); // 11% base, backgrounds #f5f6f7
$dive-grey-2: lighten($dive-black, 85%); //15% base, light borders #e9ecef
$dive-grey-3: #a9acaf; //40% base, text against dark backgrounds, darker borders
$dive-grey-4: #76797c; //60% base, helper text, secondary text
$dive-grey-5: #434649; //80% base, dark borders
$dive-awards-color: #fc0; //dive gold used for dive awards content
$error-color: #d62828;
//delete form border when grey palette improved
$form-borders: #cbd2d9; // lighten($dive-black, 75%), used only for form borders

// fonts
$standard-font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
$display-font-family: "ff-meta-serif-web-pro", Georgia, serif;
$body-font-family: Georgia, serif;

// media queries
$small-breakpoint: 40em;
$menu-breakpoint: 51em;
$medium-breakpoint: 64em;
$large-breakpoint: 70em;

// spacing
$xxs-space: 0.25rem;
$xs-space: 0.5rem;
$s-space: 0.75rem;
$m-space: 1rem;
$l-space: 1.25rem;
$xl-space: 2rem;
$xxl-space: 3.25rem;

/****** dive variables ********/

$primary-color: #d62828; // red
$sponsored-color: #287fd6; // blue

/****** smt variables ********/

$smt-primary-color: #ef8333; // orange
$smt-sponsored-color: #4958c0; // purple
