// Typekit FOUT prevention
// TO DO: for slow internet connections (longer than 6sec to load Typekit) the inactive class is applied
// The user will then see first styled FOUT then unstyled FOUT and then the typekit fonts
// We want to fix this in the future if possible
.wf-loading {
    .display-heading-04 {
        font-size: 1.625rem;
    }
}

@media screen and (min-width: $small-breakpoint) {
    .wf-loading {
        .display-heading-04 {
            font-size: 2.25rem;
        }
    }
}

@media screen and (min-width: $medium-breakpoint) {
    .wf-loading {
        .display-heading-04 {
            font-size: 2.625rem;
        }
    }
}
